.home-container {
  margin: 0px 30px;
  display: flex;
}
.info-container {
  margin-left: 30px;
}
.info-container p {
  padding: 30px;
}
.expand-btn {
  margin: auto;
  padding: 10px 20px;
  color: white;
  background-color: #000032;
  border-radius: 8px;
}
.expand-btn:hover {
  color: orangered;
}
